.basic-info {
  .basic-info-images {
    .basic-info-images-guid {
      .grid-item {
        margin: 0;
        padding: 0;
        border: none;
        height: 277rpx;
        .item-images {
          width: 95%;
          height: 222rpx;
        }
        .close {
          //position: absolute;
          right: 0px;
          bottom: 0px;
          width: 95%;
          height: 50rpx;
          margin-top: 5rpx;
        }
        .grid-item-empty {
          width: 95%;
          height: 100%;
        }
        .grid-item-add {
          background-color: #fff;
          width: 95%;
          height: 100%;
          position: relative;
          .add {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            height: 50rpx;
            width: 50rpx;
            margin: auto;
          }
        }

        .grid-item-add:active {
          background-color: #f2f3f5;
        }
        // .item-images-block {
        //   width: 30%;
        //   height: 277rpx;
        //   // margin-top: 10rpx;
        //   position: relative;
        //   display: inline-flex;
        //   justify-content: start;
        //   place-content: start center;
        //   margin-left: 20rpx;
        //   .item-images {
        //     width: 100%;
        //     height: 222rpx;
        //   }
        //   .close {
        //     position: absolute;
        //     right: 0px;
        //     bottom: 0px;
        //     width: 100%;
        //     height: 50rpx;
        //     margin-top: 5rpx;
        //   }
        //   .add {
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     left: 0;
        //     height: 50rpx;
        //     width: 50rpx;
        //     margin: auto;
        //   }
        // }
        // .item-images-block-add {
        //   background-color: #fff;
        // }
        // .item-images-block-add:active {
        //   background-color: #f2f3f5;
        // }
      }
    }
    margin-bottom: 30rpx;
  }

  .address-region {
    display: inline-block;
    text-align: left;
    width: 1000%;
    .address-region-value {
      display: inline-block;
      color: #333;
    }
    .address-region-block {
      width: 100%;
    }
  }
  .open-time {
    display: inline-block;
    text-align: left;
    width: 100%;
    position: relative;
    .open-time-picker {
      width: 135rpx;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      .open-time-value {
        display: inline-block;
        color: #333;
      }
    }
  }
  .but-save {
    margin-top: 50rpx;
  }
  z-index: 50;
}

.display_none {
  display: none;
}

.display_none {
  visibility: hidden;
}

.datetime-picker {
  position: sticky;
  top: 0px;
}

.tag-info {
  .custom-van-tag {
    margin-left: 20rpx;
    margin-top: 20rpx;
    font-size: 30rpx;
  }
}

.popup-tag {
  width: 100%;
  height: 100%;
  .popup-tag-main {
    width: 100%;
    height: 100%;

    .tag-top-bottom {
      width: 100%;
      position: relative;
      height: 80rpx;
      line-height: 80rpx;
      .popup-tag-close {
        padding-left: 30rpx;
        padding-right: 30rpx;
        position: absolute;
        display: inline-block;
        left: 0;
        color: #1989fa;
        font-size: 14px;
      }
      .popup-tag-ok {
        padding-left: 30rpx;
        padding-right: 30rpx;
        position: absolute;
        display: inline-block;
        right: 0;
        color: #1989fa;
        font-size: 14px;
      }
    }
    .popup-tag-new {
    }
    .popup-tag-select {
    }
    .popup-tag-hot {
    }
    .popup-tag-list {
      margin-top: 20rpx;
      width: 100%;
    }
    .custom-button-tag {
      margin-left: 20rpx;
    }
    .custom-van-tag {
      margin-left: 20rpx;
      margin-top: 20rpx;
      font-size: 30rpx;
    }
  }
  .popup-tag-text {
    margin: 0;
    font-weight: 400;
    font-size: 30rpx;
    color: rgba(69, 90, 100, 0.6);
    padding: 35rpx 15rpx 15rpx;
  }
}
